body { margin: 0; padding: 0; word-break: break-word; overflow-wrap: break-word;  font-family: "MS PGothic", "HG-PGothicB-Sun", "HGPGothicB", "IPAMonaPGothic", sans-serif;}
textarea { margin: 8px 20px; }
@media only screen and (max-width: 640px) {
	html { font-size: 60%; }
	small { font-size: inherit; line-height: 2.5; }
	dt small { font-size: smaller; line-height: normal; }
	table, tbody, td, tr {
		border: 1px !important;
		width: 100% !important;
		padding: 0px !important;
		margin: 0px !important;
	}
	textarea { width: 250px !important; }
	dd form input { width: 70px !important; }
	img { max-width: 320px !important; }
	dd { margin-left: 20px; }
	font { font-size: 100%; }
	/*form div input, form div select { font-size: inherit; }
	form div input[type=checkbox] { height: 1em; margin: 0; } */
}
