<!DOCTYPE html>
<html lang="ja">
<head><meta charset="UTF-8">
<title>新規スレッド作成完了</title>
<link rel="stylesheet" type="text/css" href="../../css/index.css">
</head>
<body text=#000000 link=#0000FF alink=#FF0000 vlink=#660099 bgcolor=#FFFFFF background=../../img/img180206104407.jpg>
<table border=1 cellspacing=7 cellpadding=3 width=95% bgcolor=#CCFFCC align=center>
<tr><td><table border=0 cellpadding=4 width=99% align=center>
<tr><td nowrap width='99%'><font size=+1 color=#000000><b>新規スレッド作成完了</b></font></td>
    <td nowrap align=right valign=top>&nbsp;</td></tr>
<tr><td colspan=2>
<ul style="line-height: 123%;">
★スレッド名:<a href="./thread/{$threadCompInfo.thre_id|escape}/l50" target="body">{$threadCompInfo.thre_name|escape}</a><br>
</ul>
</td></tr>
</table></td></tr>
<tr><td align=center style="padding:5px; font-size:small;"><a href="./top">掲示板に戻る</a></td></tr>
</table><br>
</body></html>